.csv filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
models/Word2Vec/*.csv filter=lfs diff=lfs merge=lfs -text
models/Word2Vec/*.pkl filter=lfs diff=lfs merge=lfs -text
models/Word2Vec/*.model filter=lfs diff=lfs merge=lfs -text
models/Word2Vec/*.npy filter=lfs diff=lfs merge=lfs -text
models/GloVe/*.npy filter=lfs diff=lfs merge=lfs -text
models/GloVe/*.pkl filter=lfs diff=lfs merge=lfs -text
models/SBERT/*.pkl filter=lfs diff=lfs merge=lfs -text
models/SBERT/*.csv filter=lfs diff=lfs merge=lfs -text
models/SBERT/*.npy filter=lfs diff=lfs merge=lfs -text
models/TF_IDF_SBERT/*.json filter=lfs diff=lfs merge=lfs -text
models/TF_IDF_SBERT/*.csv filter=lfs diff=lfs merge=lfs -text
models/TF_IDF_SBERT/*.pkl filter=lfs diff=lfs merge=lfs -text
models/WTF_IDF_SBERT/*.json filter=lfs diff=lfs merge=lfs -text
models/WTF_IDF_SBERT/*.csv filter=lfs diff=lfs merge=lfs -text
models/WTF_IDF_SBERT/*.pkl filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT/*.json filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT/*.pkl filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT/*.npy filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT/*.npz filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT/*.csv filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_calibration/*.json filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_calibration/*.csv filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_calibration/*.pkl filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_calibration/*.npy filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*json filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*safetensors filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*md filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*.json filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*.safetensors filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*.md filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*.pkl filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*.npy filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*.npz filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/*.csv filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/final_100/*.json filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/final_100/*.safetensors filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/final_100/*.md filter=lfs diff=lfs merge=lfs -text
models/final_100/*.json filter=lfs diff=lfs merge=lfs -text
models/final_100/*.safetensors filter=lfs diff=lfs merge=lfs -text
models/final_100/*.md filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/final_100/**/*.json filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/final_100/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/final_100/**/*.md filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/final_100/**/*.pkl filter=lfs diff=lfs merge=lfs -text
models/FTFIDF_SBERT_2/final_100/**/*.npy filter=lfs diff=lfs merge=lfs -text
